<a href="https://colab.research.google.com/github/VictorMarques94/IntCD/blob/master/ProjetoCD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Projeto: Eleições 2018, análise do resultado das eleições para Governador de Pernambuco, por município e Região de Desenvolvimento.**


Em meio a polarização política no Brasil, nunca se discutiu tanto o uso dos dados, das mais variadas fontes, em campanhas eleitorais.
Nesse contexto, considero importante, a análise de dados de eleições passadas com o objetivo de indentificar correlações e possíveis padrões. 

# Aluno: Victor Marques Alves
Disciplina: Introdução à Análise de Dados

Professsor: Luciano Barbosa

Fonte: Banco pessoal. Informações retiradas do repositório do TRE

# Carregando a Base de Dados

In [0]:
#Importando as Bibliotecas
import pandas as pd
import numpy as np

In [0]:
#Importando a nossa base de trabalho
base=pd.read_csv("https://raw.githubusercontent.com/VictorMarques94/IntCD/master/1%20PERNAMBUCO.csv",encoding = "ISO-8859-1")

In [139]:
#Detalhe da Base
base.shape

(185, 1)

In [0]:
#Separando as Colunas por Ponto e Virgula
base=pd.read_csv("https://raw.githubusercontent.com/VictorMarques94/IntCD/master/1%20PERNAMBUCO.csv",encoding = "ISO-8859-1",sep=";")

In [141]:
#Detalhe da base após alteração
base.shape

(185, 7)

In [142]:
#Informações da Base
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 7 columns):
RD               185 non-null object
MUNICIPIO        185 non-null object
ELEITORES        185 non-null int64
Votos validos    185 non-null int64
PC               185 non-null int64
AM               185 non-null int64
OUTROS           185 non-null int64
dtypes: int64(5), object(2)
memory usage: 10.2+ KB

In [143]:
#Visual das primeiras linhas
base.head()

                RD           MUNICIPIO  ELEITORES  ...    PC     AM  OUTROS
0  AGRESTE CENTRAL           AGRESTINA      18041  ...  3896   5858     601
1  AGRESTE CENTRAL           ALAGOINHA      12129  ...  4421   1428     449
2  AGRESTE CENTRAL             ALTINHO      16016  ...  4610   3097     448
3  AGRESTE CENTRAL  BARRA DE GUABIRABA       8950  ...  3932   1670     268
4  AGRESTE CENTRAL         BELO JARDIM      60167  ...  8584  15993    2377

[5 rows x 7 columns]

In [144]:
#Visual das Últimas Linhas
base.tail()

                          RD                 MUNICIPIO  ...     AM  OUTROS
180  SERTÌO DO SÌO FRANCISCO                 DORMENTES  ...   3349    1360
181  SERTÌO DO SÌO FRANCISCO              LAGOA GRANDE  ...   2261    1275
182  SERTÌO DO SÌO FRANCISCO                     OROCî  ...   2141     888
183  SERTÌO DO SÌO FRANCISCO                 PETROLINA  ...  38403   30583
184  SERTÌO DO SÌO FRANCISCO  SANTA MARIA DA BOA VISTA  ...   8392    2200

[5 rows x 7 columns]

In [145]:
#Verificando os Tipos de Dados 
base.dtypes

RD               object
MUNICIPIO        object
ELEITORES         int64
Votos validos     int64
PC                int64
AM                int64
OUTROS            int64
dtype: object

In [146]:
#Alterando os tipos de Dados
base.RD = base.RD.astype('category')
base.MUNICIPIO = base.MUNICIPIO.astype('category')


base.dtypes

RD               category
MUNICIPIO        category
ELEITORES           int64
Votos validos       int64
PC                  int64
AM                  int64
OUTROS              int64
dtype: object

#LIMPEZA DA BASE

Verificação de linhas repetidas

In [147]:
base[base.duplicated(keep=False)]

Empty DataFrame
Columns: [RD, MUNICIPIO, ELEITORES, Votos validos, PC, AM, OUTROS]
Index: []

*Não há linhas repetidas na base*

Verificando se existem dados ausentes

In [148]:
base.isna().sum()

RD               0
MUNICIPIO        0
ELEITORES        0
Votos validos    0
PC               0
AM               0
OUTROS           0
dtype: int64

*Não há dados ausentes*

O comparativo será realizado, considerando apenas as candidaturas de Paulo Câmara (PC) e Armando Monteiro (AM). Portanto, iremos remover as colunas referentes a Outros candidatos

In [149]:
base.drop('OUTROS', axis=1, inplace=True)
base.head()

                RD           MUNICIPIO  ELEITORES  Votos validos    PC     AM
0  AGRESTE CENTRAL           AGRESTINA      18041          10355  3896   5858
1  AGRESTE CENTRAL           ALAGOINHA      12129           6298  4421   1428
2  AGRESTE CENTRAL             ALTINHO      16016           8155  4610   3097
3  AGRESTE CENTRAL  BARRA DE GUABIRABA       8950           5870  3932   1670
4  AGRESTE CENTRAL         BELO JARDIM      60167          26954  8584  15993

#Correlação

In [150]:
base.corr(method='spearman')

               ELEITORES  Votos validos        PC        AM
ELEITORES       1.000000       0.988076  0.911088  0.893724
Votos validos   0.988076       1.000000  0.927603  0.895025
PC              0.911088       0.927603  1.000000  0.699125
AM              0.893724       0.895025  0.699125  1.000000

#Normalizando

As colunas PC e AM, estão distribuidas da seguinte maneira

In [151]:
base['PC'].describe()

count       185.000000
mean      10368.751351
std       25527.057328
min         877.000000
25%        3587.000000
50%        5169.000000
75%        8584.000000
max      311792.000000
Name: PC, dtype: float64

In [152]:
base['AM'].describe()

count       185.000000
mean       7359.935135
std       19667.949410
min         328.000000
25%        2070.000000
50%        3314.000000
75%        5959.000000
max      239123.000000
Name: AM, dtype: float64