<a href="https://colab.research.google.com/github/VictorMarques94/IntCD/blob/master/ProjetoCD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Projeto: Eleições 2018, análise do resultado das eleições para Governador de Pernambuco, por município e Região de Desenvolvimento.**


Em meio a polarização política no Brasil, nunca se discutiu tanto o uso dos dados, das mais variadas fontes, em campanhas eleitorais.
Nesse contexto, considero importante, a análise de dados de eleições passadas com o objetivo de indentificar correlações e possíveis padrões. 

# Aluno: Victor Marques Alves
Disciplina: Introdução à Análise de Dados

Professsor: Luciano Barbosa

Fonte: Banco pessoal. Informações retiradas do repositório do TRE

# Carregando a Base de Dados

In [0]:
#Importando as Bibliotecas
import pandas as pd
import numpy as np

In [0]:
#Importando a nossa base de trabalho
base=pd.read_csv("https://raw.githubusercontent.com/VictorMarques94/IntCD/master/1%20PERNAMBUCO.csv",encoding = "ISO-8859-1")

In [26]:
#Detalhe da Base
base.shape

(185, 1)

In [0]:
#Separando as Colunas por Ponto e Virgula
base=pd.read_csv("https://raw.githubusercontent.com/VictorMarques94/IntCD/master/1%20PERNAMBUCO.csv",encoding = "ISO-8859-1",sep=";")

In [28]:
#Detalhe da base após alteração
base.shape

(185, 10)

In [36]:
#Informações da Base
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 10 columns):
RD               185 non-null object
MUNICIPIO        185 non-null object
ELEITORES        185 non-null object
Votos validos    185 non-null float64
PC               185 non-null float64
% PC             185 non-null object
AM               185 non-null float64
%AM              185 non-null object
OUTROS           185 non-null float64
%O               185 non-null object
dtypes: float64(4), object(6)
memory usage: 14.6+ KB

In [29]:
#Visual das primeiras linhas
base.head()

                RD           MUNICIPIO ELEITORES  ...     %AM   OUTROS     %O
0  AGRESTE CENTRAL           AGRESTINA    18.041  ...  56,57%  601.000  5,80%
1  AGRESTE CENTRAL           ALAGOINHA    12.129  ...  22,67%  449.000  7,13%
2  AGRESTE CENTRAL             ALTINHO    16.016  ...  37,98%  448.000  5,49%
3  AGRESTE CENTRAL  BARRA DE GUABIRABA     8.950  ...  28,45%  268.000  4,57%
4  AGRESTE CENTRAL         BELO JARDIM    60.167  ...  59,33%    2.377  8,82%

[5 rows x 10 columns]

In [30]:
#Visual das Últimas Linhas
base.tail()

                          RD                 MUNICIPIO  ...   OUTROS      %O
180  SERTÌO DO SÌO FRANCISCO                 DORMENTES  ...    1.360  15,59%
181  SERTÌO DO SÌO FRANCISCO              LAGOA GRANDE  ...    1.275  11,55%
182  SERTÌO DO SÌO FRANCISCO                     OROCî  ...  888.000  13,00%
183  SERTÌO DO SÌO FRANCISCO                 PETROLINA  ...   30.583  25,99%
184  SERTÌO DO SÌO FRANCISCO  SANTA MARIA DA BOA VISTA  ...    2.200  12,80%

[5 rows x 10 columns]

In [33]:
#Verificando os Tipos de Dados das Colunas
base.dtypes

RD                object
MUNICIPIO         object
ELEITORES         object
Votos validos    float64
PC               float64
% PC              object
AM               float64
%AM               object
OUTROS           float64
%O                object
dtype: object

In [37]:
#Alterando os tipos de Dados
base.RD = base.RD.astype('category')
base.MUNICIPIO = base.MUNICIPIO.astype('category')
base.dtypes

RD               category
MUNICIPIO        category
ELEITORES          object
Votos validos     float64
PC                float64
% PC               object
AM                float64
%AM                object
OUTROS            float64
%O                 object
dtype: object

#LIMPEZA DA BASE

Verificação de linhas repetidas

In [41]:
base[base.duplicated(keep=False)]

Empty DataFrame
Columns: [RD, MUNICIPIO, ELEITORES, Votos validos, PC, % PC, AM, %AM, OUTROS, %O]
Index: []

*Não há linhas repetidas na base*

Verificando se existem dados ausentes

In [42]:
base.isna().sum()

RD               0
MUNICIPIO        0
ELEITORES        0
Votos validos    0
PC               0
% PC             0
AM               0
%AM              0
OUTROS           0
%O               0
dtype: int64

*Não há dados ausentes*

O comparativo será realizado, considerando apenas as candidaturas de Paulo Câmara (PC) e Armando Monteiro (AM). Portanto, iremos remover as colunas referentes a Outros candidatos

In [44]:
base.drop('OUTROS', axis=1, inplace=True)
base.drop('%O', axis=1, inplace=True)
base.head()

                RD           MUNICIPIO ELEITORES  ...    % PC      AM     %AM
0  AGRESTE CENTRAL           AGRESTINA    18.041  ...  37,62%   5.858  56,57%
1  AGRESTE CENTRAL           ALAGOINHA    12.129  ...  70,20%   1.428  22,67%
2  AGRESTE CENTRAL             ALTINHO    16.016  ...  56,53%   3.097  37,98%
3  AGRESTE CENTRAL  BARRA DE GUABIRABA     8.950  ...  66,98%   1.670  28,45%
4  AGRESTE CENTRAL         BELO JARDIM    60.167  ...  31,85%  15.993  59,33%

[5 rows x 8 columns]